gitdemoproject02/src/main/mule/gitdemoproject02.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="bd7a3329-6e54-43bf-88f7-8037ea24f6e6" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="gitdemoproject02Flow" doc:id="b8350497-7f56-45c6-8b78-7ba81d57010f" >
		<http:listener doc:name="Listener" doc:id="d06cd0a8-fd15-4548-b22d-3e9ef4e7b61f" config-ref="HTTP_Listener_config" path="/gitdemo02"/>
		<logger level="INFO" doc:name="Logger" doc:id="6368a765-8f62-43ba-9c8d-0def91e4a7d1" message="#[payload]"/>
	</flow>
</mule>
